<h1><%= @infection.name %></h1>

<div>Status: <%= @result_infection.status %></div>
<div>Start Date: <%= @result_infection.start_date.strftime("%d %b %y") %></div>
<div>End Date: <%= @result_infection.end_date.strftime("%d %b %y") %></div>
<div>Description: <%= @infection.description %></div>
