<div class="container">
  <div class="mb-3 h2">Let's get started</div>

  <%= simple_form_for(resource, as: resource_name, url: users_sign_up_path,
      data: { turbo: :false, controller: 'registration' } ) do |f| %>
  <%= f.error_notification %>

  <div class="card mb-3 p-3">
    <div class="mb-3">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-5 col-lg-5 text-nowrap">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      label: "Given Name",
                      class: "form-control me-3"
          %>
        </div>
        <div class="col-sm-4 col-md-5 col-lg-5 text-nowrap">
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      label: "Family Name",
                      class: "form-control me-3"
          %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-5 col-lg-4 text-nowrap">
          <%= f.input :nickname,
                      label: "Username",
                      required: true,
                      hint: "This can't be changed later",
                      class: "form-control"
          %>
        </div>
        <div class="col-sm-4 col-md-5 col-lg-6 text-nowrap">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }
          %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-5 col-lg-5 text-nowrap">
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="col-sm-4 col-md-5 col-lg-5 text-nowrap">
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" },
                      label: "Confirm"
          %>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 p-3">
    <div class="mb-3">
      <div class="row row-cols-1 row-cols-lg-5 g-2 g-lg-3 mb-1 mt-1 justify-content-center">
        <div class="col-sm-4 col-md-5 col-lg-5">
          <%= f.input :date_of_birth,
                      as: :date,
                      required: true,
                      hint: "This is required for security checks with your health professional",
                      html5: true,
                      label: "Date of Birth"
          %>
        </div>
        <div class="col-sm-4 col-md-5 col-lg-5 text-nowrap">
          <%= f.input :location,
                      as: :select, collection: ["NSW", "VIC", "QLD", "SA", "WA", "NT"],
                      label: "State"
          %>
        </div>
        <div class="col-sm-4 col-md-5 col-lg-5 text-nowrap">
          <%= f.input :gender,
                      as: :select, collection: ["Man",
                                                "Cis Man",
                                                "Trans Man",
                                                "Woman",
                                                "Cis Woman",
                                                "Trans Woman",
                                                "Non-binary",
                                                "Non-conforming",
                                                "Prefer to not say",
                                                "Other identity"],
                                                label: "Identity",
                                                hint: ""
          %>
        </div>
        <div class="col-sm-4 col-md-5 col-lg-5 text-nowrap">
          <%= f.input :orientation,
                      as: :select, collection: ["Straight (heterosexual)",
                                                "Gay",
                                                "Lesbian",
                                                "Bisexual",
                                                "Asexual",
                                                "Unsure",
                                                "Prefer to not say",
                                                "Other preference"],
                                                label: "Orientation"
          %>
        </div>
      </div>
    </div>
  </div>

  <div data-controller="showhide">
    <div class="card mb-3 p-3">
      <div class="row row-cols-2 g-2 g-lg-3 mb-1 mt-1 justify-content-center">
      <div class="col-sm-8 col-md-6 col-lg-2 col-form-label text-nowrap"><strong>Health Professional?</strong></div>
      <div class="col-sm-1 col-md-6 col-lg-8 col-form-label text-nowrap">
        <div class="form-check form-switch text-nowrap">
          <%= f.input :is_doctor,
                      input_html: { type: "checkbox",
                      data: { showhide_target: "input", action: "change->showhide#toggle" } },
                      label: false,
                      as: :boolean,
                      class: "form-check-input"
          %>
          </div>
        </div>
      </div>

      <div data-showhide-target="output" hidden="">
        <div class="mt-1">
          <div class="row row-cols-1 row-cols-lg-5 g-2 g-lg-3 mb-1 mt-1 justify-content-center">
            <div class="col-sm-8 col-lg-10 text-nowrap">
              <%= f.input :provider_number,
                        class: "mt-2",
                        label: "Provider Number"
            %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= f.button :submit, "Register", class: "btn btn-primary mb-5" %>
  </div>
  <% end %>
</div>
