<% progress = ((DateTime.now.getlocal.to_date - result.test_date.to_date).to_f / (result.next_test_date.to_date - result.test_date.to_date).to_f) * 100 %>
<% days_remain = (result.next_test_date.to_date - DateTime.now.getlocal.to_date).to_i %>
    <div class="card p-3 mb-3">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-row align-items-center">
          <div class="icon"> <% if progress >= 100 %> <i class="fa-duotone fa-vial-circle-check" style="--fa-primary-color: green;"></i>    </i> <%else%> <i class="fa-duotone fa-vial-virus" style="--fa-primary-color: orange;"></i>  <%end%> </div>
          <div class="ms-2 c-details">
            <h6 class="mb-0"> <%= result.user.first_name%> </h6>
            <span><%= distance_of_time_in_words(result.test_date, DateTime.now.getlocal) %> ago</span>
          </div>
        </div>
      <div class="badge"> <span><%= result.id %></span> </div>
      </div>
      <div class="mt-5">
        <h3 class="heading">STI<br>Check Up</h3>
        <div class="mt-5">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= progress >= 100 ? 100 : progress %>%" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="mt-3"> <span class="text1"><% if days_remain >= 0 %><i class="fa-duotone fa-circle-pause"></i> <%= pluralize(days_remain, 'day')  %> <span class="text2"> left in your treatment window. </span> <%else%> Love is in the air! <i class="fa-regular fa-face-kiss-wink-heart"></i> <span class="text2"> Play safe.</span> <% end%> </span>
          </div>
        </div>
      </div>
    </div>
