  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      <% if user_signed_in? && current_user.is_doctor == true %>
      <div class="row">
        <div class="col me-5">
          <%= link_to root_path, class: "navbar-brand logo" do %>
          <%= image_tag "snuffd_favicon.png", height: '32', width: '32', class: "d-inline-block align-text-bottom" %>
          SNUFFD
          <%end%>
          <div class="md-2 text-white"><em>for</em> HEALTH PROFESSIONALS</div>
        </div>
      </div>
      <% else %>
      <div class="row">
        <div class="col me-5">
          <%= link_to root_path, class: "navbar-brand logo" do %>
          <%= image_tag "snuffd_favicon.png", height: '32', width: '32', class: "d-inline-block align-text-bottom" %>
          SNUFFD
          <%end%>
        </div>
      </div>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <div class="border-container">
          <div class="border-bar" id="myBar">
          </div>
        </div>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav align-items-lg-center">
          <% if user_signed_in? %>
          <% if current_user.is_doctor == true %>

          <%= link_to new_result_path, class: "nav-link text-nowrap" do %>
          <%= icon('fa-duotone', 'square-plus')%> Create Result
          <% end %>

          <%= link_to results_path, class: "nav-link text-nowrap" do %>
          <%= icon('fa-duotone', 'people-group')%> My Patients
          <% end %>
        </div>

        <% else %>

        <%= link_to results_path, class: "nav-link text-nowrap" do %>
        <%= icon('fa-duotone', 'cards-blank')%> My Results
        <% end %>

        <%= link_to links_path, class: "nav-link text-nowrap" do %>
        <%= icon('fa-duotone', 'link')%> My Shared Links
        <% end %>

        <%= link_to secure_token_path, class: "nav-link text-nowrap", data: { turbo_frame: "remote_modal"} do %>
        <%= icon('fa-duotone', 'shield-keyhole')%> Generate Token
        <% end %>

      </div>

      <% end %>

      <% else %>

    </div>

    <% end %>


    <div class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">

      <% if user_signed_in? %>
      <div class="nav-item dropdown">

        <% if current_user.is_doctor == true %>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <%= "👋 Hi, Dr. #{current_user.nickname}" %>
        </a>

        <% else %>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <%= "👋 Hi, #{current_user.nickname}" %>
        </a>

        <% end %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item " %>
        </div>
      </div>


      <div class="nav-item mx-2">
        <%= button_to destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary" do %>
        <%= icon('fa-duotone', 'door-open', class: "me-1")%> Logout
        <% end %>


      </div>
    </div>

    <% else %>

    <div class="nav-item me-2">
        <%= link_to new_user_registration_path, class: "nav-link btn btn-outline-secondary" do %>
        <%= icon('fa-duotone', 'fire-flame', class: "me-1")%> Get Snuffd
        <% end %>
    </div>

    <div class="nav-item">
        <%= link_to new_user_session_path, class: "nav-link btn btn-outline-secondary" do %>
        <%= icon('fa-duotone', 'lock-keyhole', class: "me-1")%> Login
        <% end %>
    </div>

    <% end %>
    <div class="border-container">
      <div class="border-bar" id="myBar">
      </div>
    </div>
  </nav>
