  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      <% if user_signed_in? && current_user.is_doctor == true %>
      <div class="row">
        <div class="col me-5">
          <%= link_to "SNUFFD", root_path, class: "navbar-brand logo" %>
          <div class="md-2 text-white"><i>for</i> HEALTH PROFESSIONALS</div>
        </div>
      </div>
      <% else %>
      <div class="row">
        <div class="col me-5">
          <%= link_to "SNUFFD", root_path, class: "navbar-brand logo" %>
        </div>
      </div>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <div class="border-container">
          <div class="border-bar" id="myBar">
          </div>
        </div>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav align-items-lg-center">
          <% if user_signed_in? %>
          <% if current_user.is_doctor == true %>

          <%= link_to new_result_path, class: "nav-link text-nowrap" do %>
          <%= icon('fa-solid', 'plus')%> Create Result
          <% end %>

          <%= link_to results_path, class: "nav-link text-nowrap" do %>
          <%= icon('fa-solid', 'people-group')%> My Patients
          <% end %>
        </div>

        <% else %>

        <%= link_to "My Results", results_path, class: "nav-link text-nowrap" %>
        <%= link_to "My Links", links_path, class: "nav-link text-nowrap" %>
      </div>

      <% end %>

      <% else %>

    </div>

    <% end %>


    <div class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">

      <% if user_signed_in? %>
      <div class="nav-item dropdown">

        <% if current_user.is_doctor == true %>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <%= "👋 Hi, Dr. #{current_user.nickname} (#{current_user.secure_code})" %>
        </a>

        <% else %>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <%= "👋 Hi, #{current_user.nickname} (#{current_user.secure_code})" %>
        </a>

        <% end %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item " %>
        </div>
      </div>


      <div class="nav-item mx-2">
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary" %>
      </div>
    </div>

    <% else %>
    <div class="nav-item">
      <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
    </div>
    <div class="nav-item">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </div>

    <% end %>
    <div class="border-container">
      <div class="border-bar" id="myBar">
      </div>
    </div>
  </nav>
