<%= turbo_frame_tag "remote_modal" do %>
  <div class="modal fade" id="" tabindex="-1" aria-labelledby="newItemRemoteModalLabel" aria-hidden="true"
    data-controller="remote-modal" data-action="turbo:before-render@document->remote-modal#hideBeforeRender">
    <div class="modal-dialog">
      <div class="modal-content gray-900">
        <div class="modal-header">
          <h5 class="modal-title">Patient Association Code</h5>
        </div>
        <div class="modal-body remote_modal_body" id="remote_modal_body">
          <div class="container mb-3">
            <p class="h6"><strong>What is this?</strong></p>
            <p class="">In order for a health professional to load your results on to your profile, they require a patient's
              token
              and matching date of birth. Your code is unique to you, randomly generated and can only be used once
              before
              it expires.</p>
            <div class="warning-box ps-2">
              <p class=""><small><%= icon('fa-duotone', 'circle-pause', class: 'me-1') %> Wait for your result to be created
                  before creating a new
                  code.</small></p>
            </div>
          </div>

          <table class="table mb-3">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Token Code</th>
                <th scope="col">DOB</th>
                <th scope="col">Expires</th>
              </tr>
            </thead>
            <tbody>

              <td scope="row"><%= icon('fa-duotone', 'lock', class: 'gray-900') %></td>
              <td class="align-items-center" style="vertical-align: middle;">
                <h5 class="mb-0 text-nowrap"><strong><%= @user.secure_code.split('').join(' ') %></strong></h5>
              </td>
              <td class=""><%= @user.date_of_birth.strftime("%d/%m/%Y") %></td>
              <td class=""><%= distance_of_time_in_words(@user.code_expiration_date, DateTime.now.getlocal) %></td>
              </tr>
            </tbody>
          </table>
          <small class="text-muted"><span class="badge bg-warning me-1 text-white">Note</span> Only share this information with a
            trusted health professional</small>

        </div>
        <div class="modal-footer">
          <%= button_to root_path, class: "btn btn-secondary", form: { "data-bs-dismiss" => "modal" } do %>
          <%= icon('fa-duotone', 'xmark') %> Close
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
