<div class="container">
<h2 class="mb-3" >Test Results for <%= @result.user.first_name %></h2>

<div class="table-responsive">
  <table class="table align-middle">
    <tbody>
      <tr>
        <th scope="row">Full Name</th>
        <td><%= @result.user.first_name %> <%= @result.user.last_name %></td>
      </tr>
      <tr>
        <th scope="row">Date of Birth</th>
        <td><%= @result.user.date_of_birth.strftime("%d %b %Y") %></td>
      </tr>
      <tr>
        <th scope="row">Gender</th>
        <td><%= @result.user.gender %></td>
      </tr>
      <tr>
        <th scope="row">Test Date</th>
        <td><%= @result.test_date.strftime("%d %b %Y") %></td>
      </tr>
      <tr>
        <th scope="row">Next Test Date</th>
        <td><%= @result.next_test_date.strftime("%d %b %Y") %></td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="mt-4 mb-3">Infections</h3>
<div class="table-responsive">
  <table class="table align-middle">
    <thead>
    <tr>
      <th scope="col">Infection</th>
      <th scope="col">Status</th>
      <th scope="col">Treatment</th>
      <th scope="col">Expected Recovery Date</th>
    </tr>
    </thead>
    <tbody>
      <% @result.results_infections.each do |results_infection|  %>
        <tr>
          <th scope="row"><%= results_infection.infection.name.gsub("_", " ")  %></th>
          <td><%= results_infection.status %></td>
          <td>Is currently <%= results_infection.is_treated ? "" : "not" %> being treated.</td>
          <td><%= results_infection.end_date.strftime("%d %b %Y") %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% if user_signed_in? && current_user.is_doctor %>
<div class="mt-5">
  <%= link_to result_path(@result), class: "btn btn-primary me-3" do %>
  <%= icon('fa-duotone', 'check') %> Confirm Result
  <% end %>

  <%= link_to result_path(@result), class: "btn btn-danger text-white" ,data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
  <%= icon('fa-duotone', 'trash') %> Delete
  <%end%>
  </div>
<% end %>
