<% if !@patient.nil? %>
<div>Result for: <%= @patient.first_name %></div>
<% end %>

<%= form_tag('/results', method: "post", html: { id: "security-form"}) do %>

<div class="card mb-3 p-3">
  <div class="mb-3">
    <div class="row justify-content-center">
      <div class="col-5">
        <%= label_tag(:secure_code, "Patient Token", class: "input-label mb-2", autofocus: true) %>
        <%= text_field_tag(:secure_code, nil, required: true, class: "form-control me-3") %>
      </div>
      <div class="col-5">
        <%= label_tag(:date_of_birth, "Patient DOB", class: "input-label mb-2") %>
        <%= date_field_tag(:date_of_birth, nil, required: true, class: "form-control me-3") %><br>
      </div>
    </div>
  </div>
</div>

<div id="results-form">
  <div class="card mb-3 p-3">
    <div class="mb-3">
      <div class="row justify-content-center">
        <div class="col-5">
          <%= label_tag(:test_date, "Date Result Taken", class: "input-label") %>
          <%= date_field_tag(:test_date, nil , required: true, class: "form-control" ) %><br>
        </div>
        <div class="col-5">
          <%= label_tag(:next_test_date, "Follow-up Test Due", class: "input-label") %>
          <%= date_field_tag(:next_test_date, nil , class: "form-control") %><br>
        </div>
      </div>
    </div>
  </div>

  <% @infections.each do |infection| %>
  <div data-controller="showhide">
  <div class="card mb-3 p-3">
    <div class="row mb-3">
      <label for=""
        class="col-sm-2 col-form-label text-nowrap"><strong><%= infection.name.gsub("_", " ").upcase %></strong></label>
      <div class="col-sm-10">
        <div class="form-check form-switch text-nowrap">
          <%= check_box_tag "infection_ids[]", infection.id, false, class: "form-check-input", role: "switch", data: { showhide_target: "input", action: "change->showhide#toggle" } %>
          <label class="form-check-label" for="<%infection.id%>"></label>
        </div>
      </div>
    </div>

  <div data-showhide-target="output" hidden="">

    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Infection Status</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <%= check_box_tag("status[]", "positive #{infection.id}") %>
          <label class="form-check-label" for="">
            Detected
          </label>
        </div>
        <div class="form-check">
          <%= check_box_tag("status[]", "negative #{infection.id}" ) %>
          <label class="form-check-label" for="">
            Not Detected
          </label>
        </div>
      </div>
    </fieldset>

    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Treatment Status</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <%= check_box_tag("is_treated[]", "true #{infection.id}") %>
          <label class="form-check-label" for="">
            Yes, prescription issued
          </label>
        </div>
        <div class="form-check">
          <%= check_box_tag("is_treated[]", "false #{infection.id}") %>
          <label class="form-check-label" for="">
            Not applicable
          </label>
        </div>
      </div>
    </fieldset>
  </div>

</div>
</div>
  <% end %>

  <%= button_tag(type: "submit", class: "btn btn-primary") do %>
    <%= icon('fa-duotone', 'check') %> Create Result
<% end %>

  <% end %>
