<%= form_tag('/results', method: "post", html: { id: "results-form" },
  data: { turbo: :false, controller: 'results' } ) do %>
  <%= label_tag(:test_date, "When was this test taken?") %>
  <%= date_field_tag(:test_date, nil , required: true) %><br>
  <%= label_tag(:next_test_date, "When is the followup test due?") %>
  <%= date_field_tag(:next_test_date) %><br>
  <p>Select the infections that were tested?</p>
  <% @infections.each do |infection| %>
  <br>
    <%= check_box_tag(:"infection_ids[]", infection.id, false,
    { data: { results_target: "#{infection.name.downcase}Target",
    action: "change->results#reveal#{infection.name.downcase}Results" } }) %>
    <%= infection.name %> <br>
    <%= label_tag(:status, "What was the result?",{ data: { results_target: "reveal#{infection.name.downcase}Results" }}) %> <br>
    <%= check_box_tag("status[]", "positve #{infection.id}") %> Positive <br>
    <%= check_box_tag("status[]", "negative #{infection.id}") %> Negative <br>
    <%= label_tag(:is_treated, "Has treatment begun?") %> <br>
    <%= check_box_tag("is_treated[]", "true #{infection.id}") %> Yes <br>
    <%= check_box_tag("is_treated[]", "false #{infection.id}") %> No <br>
  <% end %>
  <br>
  <%= submit_tag("Submit") %>
<% end %>

<%# # html: { target: "#{infection.name.downcase}Target",
#       action: "change->results#reveal#{infection.name.downcase}Results" },
#       checked: false) %>
