
<h1>STI Results for #<%= @result.id %></h1>

<ul>
  <% if @results_infections.empty? %>
  <p>No infections have been assigned to this result.</p>
  <p>Bonk responsibly.</p>
  <% else %>
  <% @results_infections.each do |results_infection| %>
    <li>
      <%= results_infection.infection.name %>:
      <%= results_infection.status %>
      <% if results_infection.is_treated %>
        (treated)
      <% end %>
    </li>
  <% end %>
  <% end %>
  <%= @result.links.last.expiration_date - Time.now %>
</ul>

<div data-controller="copy-link">
  <input class="form-text"  data-copy-link-target="source" type="text" value=<%= @link  %> readonly>
  <button  data-action="click->copy-link#copy">Copy URL</button>
</div>
