<div class="px-4 pt-5 mt-5 text-center">
<% if user_signed_in? %>
  <h1 class="display-1 fw-bold logo">Hey <span class="boujee-text">SEXY</span> <i class="fa-duotone fa-face-smirking yellow-500"></i></h1>
  <% else %>
  <h1 class="display-1 fw-bold logo">Safe is <span class="boujee-text">SEXY</span> <i class="fa-duotone fa-face-smirking yellow-500"></i></h1>
  <% end %>
  <div class="col-lg-6 mx-auto" >
    <p class="gray-800 lead mb-4">High fives, not STIs. Keep your sexual health in check.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
    <% if user_signed_in? && current_user.is_doctor == false %>
      <h3 class="gray-900">Welcome back, <%= current_user.first_name.capitalize %><br>
      <%= @last_result.next_test_date ? "Your next test is due on #{@last_result.next_test_date.strftime("%d %b %Y")}" : "Looks like it's been awhile, maybe a test is due?"%></h3>
      <% elsif user_signed_in? && current_user.is_doctor == true %>
      <h3 class="gray-900">Welcome back, Dr. <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h3>
      <% else %>
      <%= link_to new_user_registration_path, class: "btn btn-primary btn-lg px-4 mt-sm-2 mb-sm-2 border-radius-375 transition duration-300 ease-in-out transform hover:scale-105 gradient-background gradient-background:hover" do %>
        Join now
        <% end %>
    <% end %>
    </div>
  </div>

    <div class="row justify-content-center">
      <%# Card 2 %>
      <div class="col-12 col-sm-12 col-md-3 card border-radius-375 p-3 m-4">
        <i class="display-1 fa-duotone fa-house-medical red-500 mb-3"></i>
        <h3 class="gray-900 fw-bold">Doctor-approved</h2>
        <p class="gray-800">
          Trusted by health professionals.<br>
          Feel confident in the accuracy and reliability in the results.
        </p>
      </div>

      <div class="col-12 col-sm-12 col-md-3 card border-radius-375 p-3 m-4">
        <i class="display-1 fa-sharp fa-duotone fa-hand-holding-hand orange-500 mb-3"></i>
        <h3 class="gray-900 fw-bold">Shareable</h2>
        <p class="gray-800">
          Get in the sheets with peeps.<br> Securely share your results and make the awkward awesome.
        </p>
      </div>

      <%# Card 1 %>
      <div class="col-12 col-sm-12 col-md-3 card border-radius-375 p-3 m-4">
        <i class="display-1 card-title fa-duotone fa-peach red-500 mb-3"></i>
        <h3 class="gray-900 fw-bold">Peace of mind</h2>
        <p class="gray-800">
          Track your sexual health easily.<br>
          Get test results uploaded by doctors, all in one place.
        </p>
      </div>

    </div>

</div>
