<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= meta_title %></title>
  <%= google_tag_manager_script_tag(:snuffd) %>
  <meta name="description" content="<%= meta_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="<%= meta_title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= meta_image %>" />
  <meta property="og:description" content="<%= meta_description %>" />
  <meta property="og:site_name" content="<%= meta_title %>" />

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= favicon_link_tag asset_path('snuffd_favicon.png') %>


  <%= preload_link_tag("application.css") %>
  <%= preload_link_tag("https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css") %>
  <%= preload_link_tag("application.js") %>
  <%= preload_link_tag("https://kit.fontawesome.com/5678bf38de.js") %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag "https://kit.fontawesome.com/5678bf38de.js", "data-mutate-approach": "sync" %>

</head>

<body>
  <%= google_tag_manager_noscript_tag(:snuffd) %>
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>

  <div class="container mt-5 px-3 gray-900">
    <%= yield %>
    <%= turbo_frame_tag "remote_modal", target: "_top" %>
  </div>
</body>

</html>
